.result{
    background-color: white;
    width:400px;
    text-align:right;
    font-size:40px;
    padding-right:10px;
    padding-left:10px;
    padding-top:0px;
    padding-bottom: 0px;
    border:2px solid black;
    margin-left:10px;
}
button{
    background-color: black;
    color: white;
    width:88px;
    text-align: center;
    font-size:30px;
    padding:10px;
    margin:10px;
}
#r1-c1,#r5-c1{
    width:200px;
}
#r1-c3,#r1-c4,#r2-c4,#r3-c4,#r4-c4,#r5-c4{
    background-color: lightblue;
    color: black;
}
